@charset "UTF-8";
@import
  "components/mixins",
  "vendors/normalize",
  "generics/myreset",
  "generics/generics",
  "generics/clearfix",
  "components/colors",
  "components/fonts",
  "components/margins",
  "components/shapes",
  "components/buttons",
  "components/navigations",
  "components/form",
  "sections/body",
  "sections/header",
  "sections/section",
  "sections/aside",
  "sections/footer",
  "responsive/grid";
 /*
	Mes Styles
*/

	body{background:#F2F2F2;
		.container{background:#E8E8E8;padding:1em;}
		.row{background:#D3D3D3;}
		.col-12{background:green;}
		.col-6{background:lime;}
	}
/*
	/Mes Styles
*/
 



 
