//
// COLOR VARIABLES
//
// - Cool
// - Warm
// - Gray Scale
//

// Cool

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;

// ------------
// R3M1X COLORS
// ------------

$info: #ff913d;//basecolor info orange
$blog: #b0cd56;//basecolor blog green
$member: #ff7664;//basecolor member red
$aside: #aea9a9;//basecolor aside grey

// lighten colors

$info-l-1: #ffcba3;  //info orange
$info-l-2: #ffe8d6;  //info orange
$info-l-3: #fff6f0;  //info orange
$blog-l-1: #d0e68e;  //blog green
$blog-l-2: #e1f2ae;  //blog green
$blog-l-3: #f0f8d6;  //blog green
$member-l-1: #ff9e8b;  //member red
$member-l-2: #ffbeb1;  //member red
$member-l-3: #ffdfd8;  //member red
$aside-l-1: #c7c7c7;  //aside grey
$aside-l-2: #e6e6e6;  //aside grey
$aside-l-3: #fafafa;  //aside grey
 
// darken colors

$info-d-1: #e58337;  //info orange
$info-d-2: #cc7431;  //info orange
$info-d-3: #80491f;  //info orange
$info-d-4: #4c2c12;  //info orange
$blog-d-1: #99b34b;  //blog green
$blog-d-2: #839940;  //blog green
$blog-d-3: #627330;  //blog green
$blog-d-4: #444f21;  //blog green
$member-d-1: #f26346;  //member red
$member-d-2: #cc4b31;  //member red
$member-d-3: #802f1f;  //member red
$member-d-4: #4d1c12;  //aside grey
$aside-d-1: #656971;  //aside grey
$aside-d-2: #313337;  //aside grey
$aside-d-3: #000;  //aside grey







