
// ==========================================================
// = Fonts                                      =
// ==========================================================
//font defaults
html{font-size:1rem;line-height:1.25rem;}
body{font-size:1.15rem;line-height:1.25rem;font-weight:normal;}
p{font-size:1.15rem;line-height:125%;font-weight:normal;}
h1 {font-size: 200%;line-height:200%;margin:0;padding:0;}
h2 {font-size:150%;line-height:190%;margin: 0;padding:0;}
h3 {font-size: 117%;line-height:175%;margin: 0; padding:0;}
h4 {font-size: 100%;line-height:165%;margin: 0;padding:0;}
h5 {font-size: 83%;line-height:165%;margin: 0;padding:0;}
h6{font-size: 67%;line-height:150%;margin: 0;padding:0;}
.typeSmall{font-size:75%;line-height:115%;}
.typeBig{font-size:125%;line-height:125%;}





