// ==========================================================
// = Generics                                         =
// ==========================================================
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
ul,
li,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
form,
fieldset,
input,
textarea,
select,
table,
tr,
td,
th,
tbody,
tfoot,
.column {
    @include clearfix;
    @include boxsizing;
}

html,
body {
    width: 100%;
    height: 100%;
}

//modified defaults
ul,
ol,
dl,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff
}

.icon {
    line-height: 0;
}

img {
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearLeft {
    clear: left;
}

.clearRight {
    clear: right;
}

.clearboth {
    clear: both;
    float: none;
}

//visibles
.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

//alignment
.valign {
    vertical-align: middle;
}

.valign:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}