/*
	colors
*/
// Global colors
$black:#000;
$white:#fff;
$grey_light: #ddd;
$grey_regular: #ccc;
$grey_dark: #666;
//Default backgrounds & font-colors
$field-basecolor: #fff;
$font-basecolor: #000;

// background color context
$background1: $field-basecolor;
$background2: $field-basecolor;
$background3: $field-basecolor;

// Fonts color context
$color1:#000000;
$color2:#000000;
$color3:#000000;

// Selected color context
$field-select: #78aace;
$color-select: #fff;

// Link colors
$link: #6bac60;
$link-hover: #78aace;

// ========================================================== */
// = Selection Colors                                       = */
// ========================================================== */

::selection{
	//background: $select;
	color: $color1;
}
::-moz-selection{
	background: $field-select;
	color: $color1;
}
img::selection, img::-moz-selection{
	background: transparent;
}
body{
	-webkit-tap-highlight-color: $color-select;
}
/*
	Colors
*/