/*
	Header
    */

header {
    width: 100%;
    height:185px;
    position: fixed;
    display: block;
    float: none;
    .inscription {
        border-bottom: $border;
        height: 79px;
        li:first-child .centered-content { 
            width: 90%;
            left: 5%;
          a{
            text-align: left;
            @extend .typeSize3;
          }
        }
        li {
            background: $aside-l-2;
            height: 100%;
            text-align: center;
        }
        li.saviezvous{
          border: 0;
          background-color: $aside-l-1;
            a{@extend .typeSize4;}
        }      
        .login {
            a {
                width: 100%;
                text-align: center;
                display: block;
                text-decoration: underline;
            }
        }
        h1,
        h2,
        h3 {
            @extend .typeSmall;
            border-bottom: $border;
            a {
                color: $aside-d-3;
            }
        }
        h2 a {
            padding: auto 15px;
            display: block;
        }
        h3 {
            background: $aside;
        }
    }
    .menu {
        color: #fff;
        li {
            @extend .pointer;
            position: relative;
            background: $info;
            border: $border;
            height: 85px;
        }
        li:first-child {
            border-left: none;
          &:hover{    
            @extend .fontRegular;
          }
        }
        li:last-child {
            border-right: none;
        }
        aside {
            
            h2 {
                padding: 10px 5px 0 15px;
                float: left;
                span {
                    width: 30px;
                    height: 19px;
                    overflow: hidden;
                    padding-top: 4px;
                    display: block;
                    margin-top: 4px;
                    img {
                        width: 15px;
                        height: auto;
                        float: left;
                        margin: 0 -10px 0 0;
                    }
                    img:last-child {
                        margin-top: -19px;
                    }
                }
            }
            p {
                position: relative;
                float: left;
                letter-spacing: 2px;
            }
        }
        //aside
        .icon {
            font-size: 250%;
        }
    }
    //navigation small screens
    .navigation {
          position: relative;
          top: -86px; 
          left:125%;
      
        ul.close {
          width:19%;
          padding: 0;
          @extend .pointer;
          li {
            background: $info-d-3;
            color: $info-d-2;
            left: 0;
            text-align: center;
            background: $info-d-3;
            height: 87px;
            border: $borderFull;
            .icon{
              font-size: 250%;
            }
        }
        }
        ul.pages {
            top:1px;
            background: $info-d-3;
            @extend .fontBold;
            @extend .typeSize1;
            border-top: $border;
            border-bottom: $border;
            border-left: $border;
            padding:20px 15px;
            a {
                color: $info-d-2;
                margin: auto 30px;
                display: block;
            }
            
        }//pages
        ul.liens {
          font-size:55%;
            @extend .fontRegular;
            overflow: hidden;
            line-height: 160%;
                    border: none;
                    padding: 10px 0 45px 0;
                    li {
                        a {
                            color: $info-l-1;
                        }
                    }
                }
    }//.navigation
  //desktop
  nav.md-show{
    ul li.onglet{
      width:11.11111%;
      display: inline-block;
      float: left;
      @extend .fontRegular;
    }
  }
  nav.md-show{
    .searchform{
      .centered-content{
        overflow: hidden;
      }
      form{
        border:0;
        margin:14px 0;
        label{  
          margin: 0;
          width: 0;
          height: 0;
          line-height: 0;
          color: #fff6f0;
          input{
            background-color: $info;
            color: $info-l-3;
            &:focus{
              border:none;
            }
          }
          input[type="submit"]{
              background-position: 50% -34px; 
                    }
          .icon{
            margin: 0;
            height:56px;
          }
        }//label
        .row{
            background-color: $info;
        }
      }//form
    }
  }//nav.md-show
}
//header
/*
	/Header
    */